#overview {
    width: 100%;
    height: 1200px;
}

#top {
    width: 84%;
    height: 150px;
    background-color: rgb(216, 191, 216);
    float: right;
    text-align: center;
}

#brand {
    font-size: 45px;
    word-spacing: 20px;
    letter-spacing: 10px;
}

#logo {
    margin-top: -20px;
}


#left {
    width: 16%;
    height: 1200px;
    float: left;
    background-color: rgb(213, 191, 216);
}

#menu {
    padding-top: 30px;
}

ul#menu li a {
    text-decoration: none;
}

ul li {
    font-size: 30px;
    padding: 20px;
}
button {
    background-color: chartreuse;
}
#button1 {
    background-color: rgb(213, 191, 216);
}

#content {
    width: 84%;
    height: 1050px;
    float: right;
    background-color: rgba(176, 208, 222, 0.87);
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 1200px;
    margin-left: 30px;
}

#tr1 {
    background-color: cyan;
}
tr:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

h2,h4 {
    text-align: center;
}

h3 {
    margin-left: 30px;
}

input {
    margin-left: 50px;
    width: 100px;
}

#student_name {
    width: 150px;
}